<h1>Menus</h1>
<% if params.has_key?(:user_id) && params[:user_id] == current_user.id.to_s %>
    <br>
    <div class="wrapper">
        <a href="<%= new_menu_path %>"><button>New Menu</button></a>
    </div>
<% end %>
<br>
<div class="card">
    <div class="container">
        <% if @menus.any? %>
            <% @menus.each do |menu| %>
                <h1><%= link_to menu.name, menu %></h1>
                <h2><%= truncate(menu.description, length: 30) %></h2>
                <br>
            <% end %>
        <% else %>
            <h2>There are currently no menus.</h2>
        <% end %>
    </div>
</div>