<h1>Menu Items</h1>
<% if params.has_key?(:user_id) && params[:user_id] == current_user.id.to_s %>
    <br>
    <div class="wrapper">
        <a href="<%= new_menu_item_path %>"><button>New Menu Item</button></a>
    </div>
<% end %>
<br>
<div class="card">
    <div class="container">
        <% @menu_items.each do |menu_item| %>
            <h1><%= link_to menu_item.name, menu_item %></h1>
            <h2><%= truncate(menu_item.description, length: 20) %></h2>
        <% end %>
    </div>
</div>