<h1>Restaurants</h1>
<% if params.has_key?(:user_id) && params[:user_id] == current_user.id.to_s %>
    <br>
    <div class="wrapper">
        <a href="<%= new_restaurant_path %>"><button>New Restaurant</button></a>
    </div>
<% end %>
<br>
<% @restaurants.each do |restaurant| %>
    <div class="card">
        <div class="container">
            <h1><%= link_to restaurant.name, restaurant %></h1>
            <h2><%= truncate(restaurant.description, length: 20) %></h2>
        </div>
    </div>
<% end %>