<h1>FIND MENUS</h1>
<h2>Discover menus and menu items of any category</h2>
<h2>Easily find lifestyle and allergy friendly items</h2>

<br>

<div class="wrapper">
    <%= form_tag "/search", method: :get %>
    <% placeholder = ["Find Gluten-free Dishes...", "Find Vegan Dishes...", "Find Drink Menus...", "Find Dessert Menus...", "Find Top Restaurants..."].sample %>
    <%= text_field_tag :query, nil, placeholder: placeholder %>
    <%= submit_tag "Search" %>
</div>

<br>
<br>

<h1>CREATE MENUS</h1>
<h2>Create detailed menus designed for the web</h2>
<h2>Share with customers easily</h2>

<br>

<% if !logged_in? %>
    <div class="wrapper">
        <a href="/login"><button>Login</button></a>
        <a href="/register"><button>Register</button></a>
    </div>
<% else %>
    <div class="wrapper">
        <a href="<%= new_menu_path %>"><button>Create Menus</button></a>
    </div>
<% end %>